<div class="item-detail item-formula {{#unless item.labels.derivedDamage}}empty{{/unless}}">
    {{#each item.labels.derivedDamage}}
    <div class="row">
        <span class="formula">{{ formula }}</span>
        {{#with (lookup @root.labels.damageAndHealing damageType)}}
        <span data-tooltip="{{ label }}" aria-label="{{ label }}">
            <dnd5a-icon src="{{ icon }}"></dnd5a-icon>
        </span>
        {{/with}}
    </div>
    {{/each}}
</div>
